<h1>Blocmetrics</h1>
  <body>
      <p>Here is my first Sinatra site</p>
      <p><%= "The current time is #{Time.now}!" %></p>

      <div class="btn-group">
        <button class="btn btn-default">
          <a href="/users/index">See All Users</a>
        </button>
      </div>
  </body>