<html>
  <head>
    <title>Blocmetrics</title>
  </head>
  
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/new">New User</a></li>
    </ul>
    <%= yield %>
  </body>
</html>