<body>
  <h3> Current Blocmetrics Users </h3>

  <div class="container">
  <ul>
    <% @users.each do |user| %>
      <li>
        <h4><a href="/users/<%= user.id %>"><%= user.name %></a></h4>
        <p>Created: <%= user.created_at %></p>
      </li>
    <% end %>
  </ul>
  </div>
</body>
