<body>
  <h3> Current Blocmetrics Users </h3>

  <div class="container">
  <ul>
    <% @users.each do |user| %>
      <li>
        <h4><a href="/users/show/<%= user.id %>"><%=h user.name %></a></h4>
        <p>Created: <%=h user.created_at %></p>
      </li>
    <% end %>
  </ul>
  </div>

</body>
