<body>
  <h4>User Profile</h4>

  <div class="container">
    <p><strong><%=h @user.name %></strong></p>
    <p><%=h @user.email %></p>
    <small>Created: <%= @user.created_at %></small>
  </div>

  </br>

  <div class="container"><a href="/users/<%= @user.id %>/edit">Edit Profile</a></div>
</body>